@using Microsoft.Ajax.Utilities
@model AD419.DataHelper.Web.ViewModels.TitleCodeDetailViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>@Html.DisplayNameFor(model => model.Title.TitleCode) @Html.DisplayFor(model => model.Title.TitleCode)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title.AbbreviatedName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title.AbbreviatedName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title.PersonnelProgramCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title.PersonnelProgramCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title.UnitCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title.UnitCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title.TitleGroup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title.TitleGroup)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title.OvertimeExemptionCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title.OvertimeExemptionCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title.CTOOccupationSubgroupCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title.CTOOccupationSubgroupCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title.FederalOccupationCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title.FederalOccupationCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title.FOCSubcategoryCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title.FOCSubcategoryCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title.LinkTitleGroupCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title.LinkTitleGroupCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title.EE06CategoryCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title.EE06CategoryCode)
        </dd>

        <dt>
           @Html.DisplayNameFor(model => model.Title.StaffType)*
        </dt>

        <dd>
            @Html.DropDownListFor(model => model.Title.StaffType, Model.StaffTypesSelectList, htmlAttributes: new { @class = "form-control", @readonly = "readonly" }, optionLabel: "None")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title.EffectiveDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title.EffectiveDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title.UpdateTimestamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title.UpdateTimestamp)
        </dd>

    </dl>
</div>
@Html.Partial("_StaffTypeDescriptions")

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Title.TitleCode }) |
    @Html.ActionLink("Back to List", "Index")
</p>
