@model IEnumerable<AD_419_DataHelperWebApp.Models.DOS_Codes>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="dosTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DOS_Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IncludeInAD419FTE)
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DOS_Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IncludeInAD419FTE)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.DOS_Code })
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.DOS_Code })
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.DOS_Code })
                </td>
            </tr>
        }
    </tbody>
</table>

@section AdditionalScripts
{
    <script>
        $(function() {
            $('#dosTable').DataTable({
                columnDefs: [
                    { targets: [-1, -2, -3], sortable: false }
                ]
            });
        })
    </script>
}