
@{
    ViewBag.Title = "AD-419 Final Reports";
}

<h2>@ViewBag.Title</h2>
<hr />

<h3>Congratulations!  You've made it to the home stretch.</h3><br/>
<p><i>Note that current information will not be available until all the expenses have been associated, and you have run @Html.ActionLink("Step. 15: Post-Processing and Final Report Generation from the Status page.", "Index", "Status").</i></p>
<hr/>
<h4>Select any of the following reports:</h4>
<div>
    <dl>
        <p>
            <dt>@Html.ActionLink("AD-419 Non-Admin Report", "NonAdminReport", "FinalReports")</dt>
            <dd>Final Report without pro-rated administrative expenses.</dd></p>

        <p>
            <dt>@Html.ActionLink("AD-419 Admin Report", "AdminReport", "FinalReports")</dt>
            <dd>Final Report with pro-rated administrative expenses - Multi-report version.</dd></p>

        <p>
            <dt>@Html.ActionLink("AD-419 Non-Admin Report with Prorate Amounts", "NonAdminReportWithProrateAmounts", "FinalReports")</dt>
            <dd>Pro-rate worksheet - Multi-report version.</dd></p>
       
        <p>
            <dt>@Html.ActionLink("AD-419 Unassociated Totals Report", "UnassociatedTotalsReport", "FinalReports")</dt>
            <dd>Unassociated administrative expenses to be prorated. (Note that this report only shows SFNs with non-zero expenses.) Multi-report version.</dd></p>
    </dl>
</div>