@model IEnumerable<AD419.DataHelper.Web.Models.C204AcctXProj>

@{
    ViewBag.Title = "SFN 204 Acct to Project Mapping";
}

@section AdditionalStyles 
{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.2.1/css/buttons.bootstrap.min.css" />
}

<h2>@ViewBag.Title</h2>
<br />
<p id="actionButtons" class="btn-group">
    <a href="@Url.Action("Create")" target="_blank" class="btn btn-default">Create New</a>
</p>
<table id="c204Table" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccountID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrgR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Org)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accession)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expenses)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Is219)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CSREES_ContractNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AwardNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsCurrentProject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsExcludedExpense)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Chart)-@Html.DisplayFor(modelItem => item.AccountID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrgR)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Org)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Accession)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.Expenses)
                </td>
                <td>
                    @item.Is219
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CSREES_ContractNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AwardNum)
                </td>
                <td>
                    @item.IsCurrentProject
                </td>
                <td>
                    @item.IsExcludedExpense
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

@section AdditionalScripts
{
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.1/js/buttons.bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.1/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.1/js/buttons.flash.min.js"></script>

    <script>
        $(function() {
            var table = $('#c204Table').DataTable({
                buttons: [
                    'copy', 'excel'
                ],
                lengthMenu: [ [10, 25, 50, -1], [10, 25, 50, "All"] ],
                columnDefs: [
                    { targets: [-1, -2, -3], sortable: false }
                ]
            });

            table.buttons().container()
                .appendTo($('#actionButtons'));
        })
    </script>
}