@model AD419.DataHelper.Web.Models.TransDocTypesViewModel

@{
    //ViewBag.Title = "Trans. Doc. Types";
    ViewBag.Title = @Model.CodeTypeName;
}

@Html.Partial("_LaborTransactionsForMissingCodes", @Model)

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TransDocTypes[0].DocumentType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransDocTypes[0].Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransDocTypes[0].IncludeInFTECalc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransDocTypes[0].IncludeInFISExpenses)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.TransDocTypes) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DocumentType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IncludeInFTECalc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IncludeInFISExpenses)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DocumentType }) |
            @Html.ActionLink("Details", "Details", new { id=item.DocumentType }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DocumentType })
        </td>
    </tr>
}

</table>
