@model AD419.DataHelper.Web.Models.CesListImport

@{
    ViewBag.Title = "CE Specialist Expense Details";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>Ces List Import</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeptLevelOrg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeptLevelOrg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectAccessionNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectAccessionNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PercentCeEffort)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PercentCeEffort)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullAnnualPayRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullAnnualPayRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TitleCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TitleCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FTE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FTE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Chart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Account)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubAccount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubAccount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstimatedCeExpenses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstimatedCeExpenses)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
