<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - AD419 Data Prep</title>
    @Styles.Render("~/Content/css")
    
    <link href="//cdn.datatables.net/1.10.11/css/dataTables.bootstrap.min.css" rel="stylesheet" />

    @Scripts.Render("~/bundles/modernizr")
    
    <style type="text/css">
        body {
            font-family: arial, helvetica, serif;
        }

        #nav, #nav ul { /* all lists */
            padding: 0;
            margin: 0;
            list-style: none;
            line-height: 1;
        }

            #nav a {
                display: block;
                width: 10em;
            }

            #nav li { /* all list items */
                float: left;
                width: 10em; /* width needed or else Opera goes nuts */
            }

                #nav li ul { /* second-level lists */
                    position: absolute;
                    background: white;
                    width: 10em;
                    left: -999em; /* using left instead of display to hide menus because display: none isn't read by screen readers */
                }

                #nav li:hover ul, #nav li.sfhover ul { /* lists nested under hovered list items */
                    left: auto;
                }

        #content {
            clear: left;
            color: #ccc;
        }
    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

    <script type="text/javascript">
<!--//--><![CDATA[//><!--

sfHover = function() {
	var sfEls = document.getElementById("nav").getElementsByTagName("LI");
	for (var i=0; i<sfEls.length; i++) {
		sfEls[i].onmouseover=function() {
			this.className+=" sfhover";
		}
		sfEls[i].onmouseout=function() {
			this.className=this.className.replace(new RegExp(" sfhover\\b"), "");
		}
	}
}
if (window.attachEvent) window.attachEvent("onload", sfHover);

//--><!]]></script>
</head>
<body>
    @Html.Partial("_TopNav")

    <div class="container-fluid">
        <header>
            @if (!string.IsNullOrWhiteSpace(ViewBag.ErrorMessage))
            {
                <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    @ViewBag.ErrorMessage
                </div>
            }

            @if (!string.IsNullOrWhiteSpace(TempData["Message"] as string))
            {
                <div class="alert alert-info">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    @Html.Raw(@TempData["Message"])
                </div>
            }
        </header>

        @RenderBody()

        <hr>
        <footer>
            <p>&copy; College of Agricultural and Environmental Sciences, University of California at Davis</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/1.10.11/js/dataTables.bootstrap.min.js"></script>

    @RenderSection("AdditionalScripts", required: false)
</body>
</html>
