<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="@Url.Action("Index", "Home")" class="navbar-brand">
                <span class="fa-stack brand-icon">
                    <i class="fa fa-square-o fa-stack-2x"></i>
                    <i class="fa fa-magic fa-stack-1x"></i>
                </span>
                <span class="brand-text">AD-419 Data Helper Application</span>
            </a>
        </div>
        <div id="nav" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Import <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("All ANR Projects", "Index", "AllProjectsImport")</li>
                        <li>@Html.ActionLink("CFDA Numbers", "Index", "CFDANumsImport")</li>
                        <li>@Html.ActionLink("CE Specialists", "Index", "CesListImport")</li>
                        <li>@Html.ActionLink("Field Station Expenses", "Index", "FieldStationExpensesImport")</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Maintenance <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Annual Report Codes", "Index", "ArcCodes")</li>
                        <li>@Html.ActionLink("ARC/Account Exclusions", "Index", "ArcCodeAccountExclusions")</li>
                        <li>@Html.ActionLink("Project Maintenance", "Index", "AllProjectsNew")</li>
                        <li>@Html.ActionLink("SFN 204 Award Number Exclusions", "Index", "C204Exclusions")</li>
                        <li>@Html.ActionLink("Non-204 Expired Project Cross Reference", "Index", "ExpiredProjectCrossReference")</li>
                        <li>@Html.ActionLink("DOS Codes", "Index", "DOS_Codes")</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Review <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("204 Project Associations", "Index", "C204AcctXProj")</li>
                    </ul>
                </li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>