@model AD419.DataHelper.Web.Models.ARC_Codes

@{
    ViewBag.Title = "ARC Code Details";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayNameFor(model => model.ARC_Cd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ARC_Cd)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ARC_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ARC_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OP_Func_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OP_Func_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ARC_Category_Cd)
        </dt>
        
        <dd>
            @Html.DisplayFor(model => model.ARC_Category_Cd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ARC_Sub_Category_Cd)
        </dt>
        
        <dd>
            @Html.DisplayFor(model => model.ARC_Sub_Category_Cd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isAES)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isAES)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.DS_Last_Update_Date)
        </dt>
        
        <dd>
            @Html.DisplayFor(model => model.DS_Last_Update_Date)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ARC_Cd }) |
    @Html.ActionLink("Back to List", "Index")
</p>
