@model AD419.DataHelper.Web.Models.ConsolidationCodesModel

@{
    //ViewBag.Title = "Consolidation Codes";
    ViewBag.Title = @Model.CodeTypeName;
}

@Html.Partial("_LaborTransactionsForMissingCodes", @Model)

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="consolidationCodeTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ConsolidationCodes[0].ObjectConsolidationNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConsolidationCodes[0].ObjectConsolidationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConsolidationCodes[0].IncludeInFTECalc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConsolidationCodes[0].IncludeInLaborTransactions)
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ConsolidationCodes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ObjectConsolidationNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ObjectConsolidationName)
                </td>
                <td>
                    @item.IncludeInFTECalc
                </td>
                <td>
                    @item.IncludeInLaborTransactions
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ObjectConsolidationNumber })
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.ObjectConsolidationNumber })
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.ObjectConsolidationNumber })
                </td>
            </tr>
        }
    </tbody>
</table>

@section AdditionalScripts
{
    <script>
        $(function() {
            $('#consolidationCodeTable').DataTable({
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
                columnDefs: [
                    { targets: [-1, -2, -3], sortable: false }
                ]
            });
        })
    </script>
}
