@model IEnumerable<AD419.DataHelper.Web.Models.FieldStationExpenseListImport>

@{
    ViewBag.Title = "Field Station Expenses";
}

<div class="pull-right">
    <button class="btn btn-default display-inline" data-toggle="modal" data-target="#uploadModal"><i class="fa fa-upload"></i> Upload New Source File</button>
    <form action="@Url.Action("DeleteAll")" method="POST" class="display-inline">
        @Html.AntiForgeryToken()
        <input type="submit" id="btnDeleteAll" value="Delete All" title="Delete All" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete ALL the records?')"/>
    </form>
</div>

<h2>@ViewBag.Title</h2>
<p>
    @Html.ActionLink("Create New", "Create", "FieldStationExpensesImport", null, new { @class="btn btn-default" })
</p>

@if (Model.Count() != 0)
{
    @Html.Partial("_FieldStationExpensesTable", Model)
}
else
{
    <h4>Field Station Expenses Data has yet to be created or uploaded.</h4>
    <p>Select the "Create New" (above) or browse and display an existing Field Station Expenses Excel file (above).</p>
}

@Html.Partial("_Upload")

@section AdditionalScripts
{
    <script type="text/javascript" src="~/Scripts/upload-wizard.js"></script>
    <script type="text/javascript">
        $(function () {
            UploadWizard.setup({
                uploadUrl: '@Url.Action("Upload")',
                tableOptions: {
                    order: [[0, "desc"]]
                }
            });

            $('#uploadModal').on('hidden.bs.modal', UploadWizard.reset);
        });
        $(function () {
            $('#fieldImportTable').DataTable({
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
                columnDefs: [
                    { targets: [-1, -2, -3], sortable: false }
                ]
            });
        })
    </script>
}
