@model AD419.DataHelper.Web.Models.LaborTransactionsForMissingCodesModel
<div>
    @if (Model.LaborTransactions.Count > 0)
    {
        <h2>Labor Transactions for Unknown @Model.CodeTypeName</h2>

        <h4> The following @Model.LaborTransactions.Count labor transactions have Unknown AD-419 @Model.CodeTypeName:</h4>
        <i>Please review the transactions and add new @Model.CodeTypeName as applicable.</i>
        <table id="laborTransactionsTable" class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.LaborTransactions[0].AE_Entity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LaborTransactions[0].AE_FinancialDept)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LaborTransactions[0].AE_Account)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LaborTransactions[0].AE_Fund)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LaborTransactions[0].AE_Activity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LaborTransactions[0].FinanceDocTypeCd)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LaborTransactions[0].DosCd)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LaborTransactions[0].EmployeeID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LaborTransactions[0].EmployeeName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LaborTransactions[0].TitleCd)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LaborTransactions[0].RateTypeCd)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LaborTransactions[0].Payrate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LaborTransactions[0].Amount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LaborTransactions[0].PayPeriodEndDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LaborTransactions[0].FringeBenefitSalaryCd)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LaborTransactions[0].ExcludedByFinancialDept)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LaborTransactions[0].ExcludedByAeAccount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LaborTransactions[0].ExcludedByAeFund)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LaborTransactions[0].ExcludedByActivity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LaborTransactions[0].FteExcludedByERN_Code)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.LaborTransactions)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AE_Entity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AE_FinancialDept)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AE_Account)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AE_Fund)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AE_Activity)
                    </td>

                    <td>
                        @Html.DisplayFor(model => item.FinanceDocTypeCd)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.DosCd)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.EmployeeID)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.EmployeeName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.TitleCd)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.RateTypeCd)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Payrate)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.PayPeriodEndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.FringeBenefitSalaryCd)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.ExcludedByFinancialDept)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.ExcludedByAeAccount)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.ExcludedByAeFund)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.ExcludedByActivity)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.FteExcludedByERN_Code)
                    </td>
                </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p><br /><h4><i>Note: There are <strong>zero</strong> labor transactions for @Model.CodeTypeName that need to be reviewed at this time.</i></h4></p>
    }
    <hr />
</div>
