<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - AD419 Data Prep</title>
    @Styles.Render("~/Content/css")

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

    @Scripts.Render("~/bundles/modernizr")

    @RenderSection("AdditionalStyles", required: false)

    <script type="text/javascript">
<!--//--><![CDATA[//><!--

sfHover = function() {
	var sfEls = document.getElementById("nav").getElementsByTagName("LI");
	for (var i=0; i<sfEls.length; i++) {
		sfEls[i].onmouseover=function() {
			this.className+=" sfhover";
		}
		sfEls[i].onmouseout=function() {
			this.className=this.className.replace(new RegExp(" sfhover\\b"), "");
		}
	}
}
if (window.attachEvent) window.attachEvent("onload", sfHover);

//--><!]]></script>
</head>
<body>
    @Html.Partial("_TopNav")

    <div class="body-content">
        <header>
            @if (!string.IsNullOrWhiteSpace(TempData["ErrorMessage"] as string))
            {
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    @TempData["ErrorMessage"]
                </div>
            }

            @if (!string.IsNullOrWhiteSpace(TempData["Message"] as string))
            {
                <div class="alert alert-info">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    @TempData["Message"]
                </div>
            }
        </header>

        @RenderBody()

        <hr>
        <footer>
            <p>&copy; College of Agricultural and Environmental Sciences, University of California at Davis</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")

    <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>

    @RenderSection("AdditionalScripts", required: false)
</body>
</html>
