@using System.Configuration
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="@Url.Action("Index", "Home")" class="navbar-brand">
                <span class="fa-stack brand-icon">
                    <i class="fa fa-square-o fa-stack-2x"></i>
                    <i class="fa fa-magic fa-stack-1x"></i>
                </span>
                <span class="brand-text">AD-419 Data Helper Application</span>
            </a>
        </div>
       
        <div id="nav" class="navbar-collapse collapse">
            @if (!User.IsInRole("ReportViewer"))
            {
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Status", "Index", "Status")</li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Import <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("All ANR Projects", "Index", "AllProjectsNew")</li>
                        <li>@Html.ActionLink("NIFA Projects and Accession Numbers", "Index", "NifaProjectAccessionNumberImports")</li>
                        @*<li>@Html.ActionLink("Current AD-419 Projects", "Index", "Projects")</li>*@
                        <li>@Html.ActionLink("CFDA Numbers", "Index", "CfdaNumberImports")</li>
                        <li>@Html.ActionLink("CE Specialists", "Index", "CesListImport")</li>
                        <li>@Html.ActionLink("Field Station Expenses", "Index", "FieldStationExpensesImport")</li>
                        <li>@Html.ActionLink("Interdepartmental", "Index", "Interdepartmentals")</li>
                        <li>@Html.ActionLink("Self-Certifying Title Codes", "Index", "SelfCertifyingTitleCodesImport")</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Maintenance <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Annual Report Codes", "Index", "ArcCodes")</li>
                        <li>@Html.ActionLink("ARC/Account Exclusions", "Index", "ArcCodeAccountExclusions")</li>
                        <li>@Html.ActionLink("Project Maintenance", "Index", "AllProjectsNew")</li>
                        <li>@Html.ActionLink("Current AD-419 Projects", "Index", "Projects")</li>
                        <li>@Html.ActionLink("Non-204 Expired Project Cross Reference", "Index", "ExpiredProjects")</li>
                        <li>@Html.ActionLink("204-20x Project Mappings", "Index", "ProjectMapping")</li>
                        <li>@Html.ActionLink("DOS Codes", "Index", "DosCodes")</li>
                        <li>@Html.ActionLink("Trans Doc Types", "Index", "TransDocTypes")</li>
                        <li>@Html.ActionLink("Consolidation Codes", "Index", "ConsolidationCodes")</li>
                        <li>@Html.ActionLink("OrgR Expense Department Remapping", "Index", "ExpenseOrgMappings")</li>
                        <li>@Html.ActionLink("Reporting Organization", "Index", "ReportingOrganizations")</li>
                        <li>@Html.ActionLink("PIs with Missing Employee IDs", "Index", "ProjectPiWithMissingEmployeeIds")</li>
                        @*<li>@Html.ActionLink("Principal Investigator Matches", "UnproratedMatches", "Principals")</li>*@
                        <li>@Html.ActionLink("Project Status", "Index", "ProjectStatus")</li>
                        <li>@Html.ActionLink("Title Code Staff Types", "Index", "Titles")</li>
                        <li>@Html.ActionLink("Accounts with the Wrong Closed OrgR", "Index", "AccountWithTheWrongClosedOrg")</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Review <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Expenses by ARC/Account Report Generation Criteria", "Index", "FyExpensesByARCReport")</li>
                        <li>@Html.ActionLink("FFY Expenses by ARC", "Report", "FyExpensesByARCReport", new { useStateFiscalYear = false }, null)</li>
                        <li>@Html.ActionLink("SFY Expenses by ARC", "Report", "FyExpensesByARCReport", new { useStateFiscalYear = true }, null)</li>
                        <li>@Html.ActionLink("Current AD-419 Projects", "Index", "CurrentProjectsReport")</li>
                        <li>@Html.ActionLink("204 Project Associations", "Index", "C204AcctXProj")</li>
                        <li>@Html.ActionLink("ARC/Account Exclusions", "Review", "ArcCodeAccountExclusions")</li>

                        <li>@Html.ActionLink("FTE Calculation Criteria", "Index", "FTEReport")</li>
                        <li>@Html.ActionLink("FTE > 1 Report", "Report", "FTEReport")</li>

                        <li>@Html.ActionLink("SFN CASE Statement Criteria", "Index", "SfnClassificationLogic")</li>
                        <li>@Html.ActionLink("Generated SFN CASE Statement", "Display", "SfnClassificationLogic")</li>

                        <li>@Html.ActionLink("Accounts with Missing SFN", "Index", "AccountsWithMissingSfn")</li>

                        <li>@Html.ActionLink("Unassociated 241 Employee Expenses", "Index", "Unassociated241EmployeeExpenseReport")</li>

                        <li>@Html.ActionLink("Accounts With Different Totals", "Index", "AccountWithDifferentTotals")</li>
                        <li>@Html.ActionLink("FFY Expenses Vs. Adjusted AD-419 Total Comparison", "Index", "AdjustedTotals")</li>
                        <li>@Html.ActionLink("Project/Org Associations Percentage Report", "Index", "ProjectOrgAssociationsPercentageReport")</li>
                        <li>@Html.ActionLink("AD-419 Associated Totals by SFN Report", "Index", "AssociatedTotalsBySfnReport")</li>
                        <li>@Html.ActionLink("AD-419 Non-Admin Pre-Report", "Index", "NonAdminPreReport")</li>

                        <li>@Html.ActionLink("AD-419 Final Reports", "Index", "FinalReports")</li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">AE Reports <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("KFS Conversion and Project Comparison Report", "Index", "Report")</li>
                    </ul>
                </li>

                <li><a href="@ConfigurationManager.AppSettings["AD419AppUrl"]" target="_blank">AD-419 Application</a></li>

                @if (User.IsInRole("Admin"))
                {
                    <li>
                        @Html.ActionLink("User Administration", "Index", "UserAdministration")
                    </li>
                }

            </ul>
            }
            @Html.Partial("_LoginPartial")
        </div>
       
    </div>
</div>
