@model List<AD419.DataHelper.Web.Models.ProcessCategory>
@{
    ViewBag.Title = "Index";
}

<h2>Project Status</h2>

@foreach (var category in Model)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title @(category.IsCompleted ? "complete" : "incomplete")" title="@category.Notes">@category.Id. @category.Name</h3>
        </div>
        <div class="panel-body">
            <ul class="checklist">
                @foreach (var status in category.Statuses)
                {
                    <li class="@(status.IsCompleted ? "complete" : "incomplete")">
                        @if (status.IsCompleted)
                    {
                            <i class="fa fa-check-circle bullet"></i>
                        }
                        else
                        {
                            <i class="fa fa-circle-thin bullet"></i>
                        }
                        <h2>@status.Name</h2>
                        <p>@status.Notes</p>
                    </li>
                }
            </ul>
        </div>
    </div>
}