@model List<AD419.DataHelper.Web.Models.ProcessCategory>
@{
    ViewBag.Title = "Index";
}

@section AdditionalStyles {
    <style>
        .align-btn-xs {
            margin-left: -8px;
        }
    </style>
}

<h2>Project Status</h2>

@{
    // First let's find the lowest non-completed category, aka the current category
    var nonCompleted = Model.Where(c => !c.IsCompleted).ToArray();
    
    var currentSequenceOrder = nonCompleted.Any() ? nonCompleted.Min(c => c.SequenceOrder) : 0;
}

@Html.AntiForgeryToken()

@using (Html.BeginForm("Reset", "Status", FormMethod.Post, new { id = "ResetForm", enctype = "multipart/form-data", @class = "" }))
{
    @Html.AntiForgeryToken()
    <div>
        <p>
            Selecting this button will reset <i><strong>ALL</strong></i> completed steps you have accomplished and allow you to begin again at Step 1.&nbsp; &nbsp; <input type="submit" data-confirm="Are you sure you want to start over?" class="btn btn-warning" value="Reset" />
        </p>
    </div>
}

@foreach (var category in Model.OrderBy(c => c.SequenceOrder))
{
    var isActiveCategory = category.SequenceOrder == currentSequenceOrder;
    <div class="panel panel-default">
        <div class="panel-heading">
            <a role="button" data-toggle="collapse" href="#collapse-@category.Id">

                <h3 class="panel-title category @(category.IsCompleted ? "complete" : "incomplete")" title="@category.Notes">@category.SequenceOrder. @category.Name</h3>
            </a>
        </div>
        <div id="collapse-@category.Id" class="panel-body collapse @(isActiveCategory ? "in active-category" : "out inactive-category")">
            @if (!string.IsNullOrWhiteSpace(category.Notes))
            {
                <div class="well well-sm">
                    @category.Notes
                </div>
            }
            @if (!string.IsNullOrWhiteSpace(category.StoredProcedureName))
            {
                var disabled = category.SequenceOrder != currentSequenceOrder ? "disabled='disabled" : string.Empty;

                <button data-id="@category.Id" data-name="@category.Name" class="sproc btn btn-primary" @disabled><i class="fa fa-spin" > </i> <span> Click here to</span> @category.Name</button>

            }
            @{
                var orderedStatuses = category.Statuses.OrderBy(c => c.SequenceOrder);
                var currentStatusSequenceOrder = orderedStatuses.Any(s => !s.IsCompleted) ? orderedStatuses.Where(s => !s.IsCompleted).Min(c => c.SequenceOrder) : 0;
            }
            <ul class="checklist">
                @foreach (var status in category.Statuses.OrderBy(c=>c.SequenceOrder))
                {
                    <li class="@(status.IsCompleted ? "complete" : "incomplete")">
                            @if (isActiveCategory && status.NoProcessingRequired == true)
                            {
                                // Active category
                                    using (Html.BeginForm("StatusCompleted", "Status", new { id = status.Id }, FormMethod.Post))
                                    {
                                    @Html.AntiForgeryToken()
                                    <h2>
                                        @if (status.IsCompleted == false)
                                        {
                                            if (status.SequenceOrder == currentStatusSequenceOrder)
                                            {
                                                <button type="submit" class="fa fa-circle-thin btn-xs align-btn-xs" style="color:black"></button>

                                            }
                                            else
                                            {
                                                <button type="submit" class="fa fa-circle-thin btn-xs align-btn-xs" style="color: white" disabled="disabled"></button>
                                                @*<i class="fa fa-circle-thin bullet"></i>*@
                                            }

                                            if (string.IsNullOrWhiteSpace(status.Hyperlink))
                                            {
                                                @status.Name
                                            }
                                            else
                                            {
                                                <a class="disabled display-inline" href="@Url.Action("", status.Hyperlink)">@status.Name <i class="fa fa-external-link"></i></a>
                                            }
                                        }
                                        else
                                        {
                                            <button type="submit" class="fa fa-check-circle btn-xs align-btn-xs"></button>
                                            if (string.IsNullOrWhiteSpace(status.Hyperlink))
                                            {
                                                @status.Name
                                            }
                                            else
                                            {
                                                <a class="disabled" href="@Url.Action("", status.Hyperlink)">@status.Name <i class="fa fa-external-link"></i></a>
                                            }
                                        }
                                    </h2>
                                    }
                                
                            }
                            else if (status.IsCompleted)
                            { // Completed, inactive category
                                <i class="fa fa-check-circle bullet"></i>
                                <h2>
                                    @if (string.IsNullOrWhiteSpace(status.Hyperlink))
                                    {
                                        @status.Name
                                    }
                                    else
                                    {
                                        <a class="disabled" href="@Url.Action("", status.Hyperlink)">@status.Name <i class="fa fa-external-link"></i></a>
                                    }
                                </h2>
                            }
                            else // Not completed, inactive category.
                            {
                                <i class="fa fa-circle-thin bullet"></i>
                                <h2>
                                    @if (string.IsNullOrWhiteSpace(status.Hyperlink))
                                          {
                                              @status.Name
                                          }
                                          else
                                          {
                                              <a class="disabled" href="@Url.Action("", status.Hyperlink)">@status.Name <i class="fa fa-external-link"></i></a>
                                          }
                                </h2>
                            }

                        <p>@status.Notes</p>
                    </li>
                }
            </ul>
            @if (string.IsNullOrWhiteSpace(category.StoredProcedureName))
            {
                var disabled = category.SequenceOrder != currentSequenceOrder ? "disabled='disabled" : string.Empty;
                using (Html.BeginForm("Completed", "Status", new {id = category.Id}, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <input type="submit" class="btn btn-primary" @disabled value="I've done these steps"/>

                }
            }
        </div>
    </div>
}
@section AdditionalScripts
{
    <script type="text/javascript">
        $('[data-confirm]').on('click', function(e) {
            if (!confirm(jQuery(this).attr("data-confirm"))) {
                e.preventDefault();
            }
        });
    </script>

     <script type="text/javascript">
         $(".sproc").on('click', function () {
             var $theButton = $(this);
             var id = $theButton.data("id");
             var $buttonIcon = $('i', $theButton);
             var $buttontext = $('span', $theButton);
             $buttonIcon.addClass('fa-spinner');
             $buttontext.text(" Please wait, executing:");
             $theButton.prop("disabled", true);

             var antiforgery = $("input[name='__RequestVerificationToken']").val();
             $.ajax({
                 type: 'POST',
                 url: '@Url.Action("RunSproc")',
                 data: { id: id, __RequestVerificationToken: antiforgery }
             })
                 .success(function(data) {
                     $buttonIcon.removeClass('fa-spinner');
                     if (data.Success === false) {
                         $buttontext.text(data.ErrorMessage +" Error executing:");
                         $theButton.removeClass("btn-primary");
                         $theButton.addClass("btn-danger");
                     }
                     if (data.Success === true) {
                         location.reload();
                     }
                 })
                 .fail(function() {
                     $theButton.prop("disabled", false);
                     $buttonIcon.removeClass('fa-spinner');
                     $buttontext.text(" Error executing:");
                 });

         });
</script>
}