@using AD_419_DataHelperWebApp.Models
@model IEnumerable<AD_419_DataHelperWebApp.Models.CesListImport>

@{
    ViewBag.Title = "Index - CES List";
}

@Html.Partial("_CesFileUpload")
<hr/>
<h2>@ViewBag.Title</h2>
<p>
    @Html.ActionLink("Create New", "Create", "CesListImport", null, new { @class="btn btn-default" })
</p>

@if (Model.Count() != 0)
{
    using (Html.BeginForm("DeleteAll", "CesListImport", FormMethod.Post, new { id = "deleteForm" }))
    {
        @Html.AntiForgeryToken()
        <p>
            <input type="submit" id="btnDeleteAll" value="Delete All" title="Delete All" class="btn btn-default" onclick="return confirm('Are you sure you want to delete ALL the records?')" />
        </p>
    }
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeptLevelOrg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectAccessionNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PercentCeEffort)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullAnnualPayRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TitleCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FTE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubAccount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstimatedCeExpenses)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PI)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeptLevelOrg)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectAccessionNum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PercentCeEffort)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullAnnualPayRate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TitleCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FTE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Chart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Account)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubAccount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstimatedCeExpenses)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
                    @Html.ActionLink("Details", "Details", new {id = item.Id}) |
                    @Html.ActionLink("Delete", "Delete", new {id = item.Id})
                </td>
            </tr>
        }

    </table>
}
else
{
    <h4>CES List Data has yet to be created or uploaded.</h4>
    <p>Select the "Create New" (above) or browse and display an existing CES List Excel file (above).</p>
}


