@model List<AD419.DataHelper.Web.Models.Interdepartmental>

<table id="uploadTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(x => Model[0].AccessionNumber)
            </th>
            <th>
                @Html.DisplayNameFor(x => Model[0].OrgR)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(x => item.AccessionNumber)
                </td>
                <td>
                    @Html.DisplayFor(x => item.OrgR)
                </td>
            </tr>
        }
    </tbody>
</table>

<form id="confirmForm" method="POST" action="@Url.Action("Save")">
    @Html.AntiForgeryToken()
    @for (var i = 0; i < Model.Count; i++)
    {
        @Html.HiddenFor(m => m[i].Year)
        @Html.HiddenFor(m => m[i].AccessionNumber)
        @Html.HiddenFor(m => m[i].OrgR)
    }
</form>
