@model IEnumerable<AD419.DataHelper.Web.Models.Interdepartmental>

@{
    ViewBag.Title = "Index";
}

<h2>Interdepartmental Projects</h2>

<p>
    <a href="@Url.Action("Create")" target="_blank" class="btn btn-default">Create New</a>
</p>
<table class="table" id="interdepartmentalTable">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AccessionNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrgR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AccessionNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrgR)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

@section AdditionalScripts
{
    <script>
        $(function() {
            $('#interdepartmentalTable').DataTable({
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
                columnDefs: [
                    { targets: [-1, -2, -3], sortable: false }
                ]
            });
        })
    </script>
}
