@model IEnumerable<AD419.DataHelper.Web.Models.ArcCode>

@{
    ViewBag.Title = "Index - ARC Codes";
}

<h2>@ViewBag.Title</h2>
<br/>
<p id="actionButtons" class="btn-group"></p>
<table id="arcCodeTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FunctionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubCategoryCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAES)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedDate)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FunctionName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubCategoryCode)
                </td>
                <td>
                    @if (item.IsAES.HasValue)
                    {
                        <span>@item.IsAES.Value</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedDate)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Code })
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Code })
                </td>
            </tr>
        }
    </tbody>
</table>

@section AdditionalScripts
{
    @*These scripts allow the copy/export buttons to work:*@
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.1/js/buttons.bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.1/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.1/js/buttons.flash.min.js"></script>

    <script>
        $(function() {
            var table = $('#arcCodeTable').DataTable({
                buttons: [
                    'copy', 'excel'
                ],
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
                columnDefs: [
                    { targets: [-1, -2], sortable: false }
                ],
                order: [
                    [5, 'desc'],
                    [4, 'asc'],
                    [0, 'asc']
                ],
                displayLength: 25
            });

            table.buttons().container()
                .appendTo($('#actionButtons'));
        })
    </script>
}
