@model AD419.DataHelper.Web.Models.PrincipalInvestigatorMatch

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PrincipalInvestigatorMatch</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Organization)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Organization)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MatchName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatchName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsProrated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsProrated)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
