@model AD419.DataHelper.Web.Models.ReportingOrganization

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ReportingOrganization</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrganizationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganizationShortName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizationShortName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CrisDepartmentCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CrisDepartmentCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganizationShortCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizationShortCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountEndCharacters)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountEndCharacters)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsAdminCluster)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAdminCluster)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdminClusterOrganizationCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdminClusterOrganizationCode)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
