@model AD419.DataHelper.Web.Models.ReportingOrganizationsModel

@{
    ViewBag.Title = "Reporting Organizations";
}

<div>
    @if (Model.UnknownDepartments.Count > 0)
    {
            <h2>Unknown Departments</h2>

            <h4> The following expenses have an Unknown AD-419 Reporting Org:</h4>
            <i>
                Please add a new Reporting Organization, @Html.ActionLink("Remap the Expense's Department to an Existing AD-419 Reporting Org", "Index", "ExpenseOrgMappings") or
                @Html.ActionLink("Add the expense account to the ARC/Account Exclusions list", "Index", "ArcCodeAccountExclusions").
            </i>
            <table id="unknownDepartmentsTable" class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.UnknownDepartments[0].Chart)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UnknownDepartments[0].OrgR)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UnknownDepartments[0].Org)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UnknownDepartments[0].Account)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UnknownDepartments[0].Expenses)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.UnknownDepartments)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Chart)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OrgR)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Org)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Account)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Expenses)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
    }
    else
    {
        <p><br/><h4><i>Note: There are <strong>zero</strong> unknown expense departments that need to be added or remapped at this time.</i></h4></p>
    }
    </div>
    <hr/>

<div class="pull-right">
    <a href="@Url.Action("Create")" class="btn btn-default display-inline"><i class="fa fa-plus"></i> Create New</a>
</div>

<h2>@ViewBag.Title</h2>

<table id="orgsTable" class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ReportingOrganizations[0].Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReportingOrganizations[0].Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReportingOrganizations[0].ShortName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReportingOrganizations[0].OrganizationShortCode)
        </th>
        <th>
            Account# Ending <i class="fa fa-help" title="@Html.DisplayNameFor(model => model.ReportingOrganizations[0].AccountEndCharacters)"></i>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReportingOrganizations[0].IsAdminCluster)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReportingOrganizations[0].AdminClusterOrganizationCode)
        </th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ReportingOrganizations)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShortName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrganizationShortCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountEndCharacters)
                </td>
                <td>
                    @item.IsAdminCluster
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdminClusterOrganizationCode)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Code })
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Code })
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.Code })
                </td>
            </tr>
        }
    </tbody>
</table>

@section AdditionalScripts
{
    <script>
        $(function() {
            $('#orgsTable').DataTable({
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
                columnDefs: [
                    { targets: [-1, -2, -3], sortable: false }
                ],
                order: [
                    [0, 'asc']
                ],
                displayLength: 25
            });
        })
    </script>
}
