@model AD419.DataHelper.Web.Models.DosCodesViewModel

@{
    //ViewBag.Title = "D.O.S. Codes";
    ViewBag.Title = @Model.CodeTypeName;
}

@Html.Partial("_LaborTransactionsForMissingCodes", @Model)

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="dosTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DosCodes[0].Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DosCodes[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DosCodes[0].IncludeInAD419FTE)
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DosCodes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IncludeInAD419FTE)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Code })
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Code })
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.Code })
                </td>
            </tr>
        }
    </tbody>
</table>

@section AdditionalScripts
{
    <script>
        $(function() {
            $('#dosTable').DataTable({
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
                columnDefs: [
                    { targets: [-1, -2, -3], sortable: false }
                ]
            });
        })
    </script>
}