@model AD419.DataHelper.Web.Models.ArcCodeAccountExclusion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ARC Code/Account Exclusion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Chart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chart)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Account)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AnnualReportCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnnualReportCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Is204)
        </dt>

        <dd>
            @Model.Is204
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProjectNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AwardNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AwardNumber)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { year = Model.Year, chart = Model.Chart, account = Model.Account, annualReportCode = Model.AnnualReportCode }) |
    @Html.ActionLink("Back to List", "Index")
</p>
