@model IEnumerable<AD419.DataHelper.Web.Models.ArcCodeAccountExclusion>

@{
    ViewBag.Title = "Index";
}

<div class="pull-right">
    <a class="btn btn-default" href="@Url.Action("Create")">Create New</a>
</div>

<h2>ARC Code Account Exclusions</h2>

<br/>

<table id="arcCodeTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnnualReportCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Is204)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AwardNumber)
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Chart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Account)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AnnualReportCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comments)
                </td>
                <td>
                    @item.Is204
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AwardNumber)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { year = item.Year, chart = item.Chart, account = item.Account, annualReportCode = item.AnnualReportCode })
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { year = item.Year, chart = item.Chart, account = item.Account, annualReportCode = item.AnnualReportCode })
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { year = item.Year, chart = item.Chart, account = item.Account, annualReportCode = item.AnnualReportCode })
                </td>
            </tr>
        }
    </tbody>
</table>

@section AdditionalScripts
{
    <script>
        $(function() {
            $('#arcCodeTable').DataTable({
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
                columnDefs: [
                    { targets: [-1, -2, -3], sortable: false }
                ]
            });
        })
    </script>
}