@model AD419.DataHelper.Web.Models.C204Exclusions

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SFN 204 Award Number Exclusion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AwardNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AwardNumber)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AwardNumber }) |
    @Html.ActionLink("Back to List", "Index")
</p>
