@model IEnumerable<AD_419_DataHelperWebApp.Models.ArcCodeAccountExclusion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Chart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Account)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnnualReportCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Chart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Account)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnnualReportCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { year = item.Year, chart = item.Chart, account = item.Account, annualReportCode = item.AnnualReportCode }) |
            @Html.ActionLink("Details", "Details", new { year=item.Year, chart=item.Chart, account = item.Account, annualReportCode = item.AnnualReportCode }) |
            @Html.ActionLink("Delete", "Delete", new { year = item.Year, chart = item.Chart, account = item.Account, annualReportCode = item.AnnualReportCode })
        </td>
    </tr>
}

</table>
