@model List<AD419.DataHelper.Web.Models.ExpiringProjects>

@{
    ViewBag.Title = "Expiring Projects";
}

<h2>Expiring Projects</h2>

<table id="expiredProjects" class="table">
    <thead>
        <tr>
            <th></th>
            <th>Director</th>
            <th>Title</th>
            <th>End Date</th>
            <th>Expenses</th>
            <th>SFN</th>
            <th>Accounts</th>
            <th>Fund</th>
            <th>Project Number</th>
            <th>Accenssion Number</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.OrgR</td>
                <td>@item.ProjectDirector</td>
                <td>@item.Title</td>
                <td>@item.ProjectEndDate.ToShortDateString()</td>
                <td>@item.Expenses</td>
                <td>@item.SFN</td>
                <td>@item.Accounts_AwardNum</td>
                <td>@item.OPFund_AwardNum</td>
                <td>@item.ProjectNumber</td>
                <td>@item.AccenssionNumber</td>
            </tr>
        }
    </tbody>
</table>

@section AdditionalScripts
{
    <script>
        $(function() {
            $('#expiredProjects').DataTable({
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
                columnDefs: [
                ]
            });
        })
    </script>
}
