@model List<AD419.DataHelper.Web.ViewModels.ExpiringProjectMatch>

@{
    ViewBag.Title = "Expiring Projects";
}

<h2>Expiring Projects</h2>

<table id="expiredProjects" class="table">
    <thead>
        <tr>
            <th nowrap></th>
            <th nowrap>Director</th>
            <th nowrap>Title</th>
            <th nowrap>End Date</th>
            <th nowrap class="text-right">Expenses</th>
            <th nowrap>SFN</th>
            <th nowrap>Accounts</th>
            <th nowrap>Fund</th>
            <th nowrap>Project Number</th>
            <th nowrap>Accenssion Number</th>
            <th nowrap>Matched Number</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ExpiringProject.OrgR</td>
                <td>@item.ExpiringProject.ProjectDirector</td>
                <td>@item.ExpiringProject.Title</td>
                <td>@item.ExpiringProject.ProjectEndDate.ToShortDateString()</td>
                <td class="text-right">@item.ExpiringProject.Expenses.ToString("C")</td>
                <td>@item.ExpiringProject.SFN</td>
                <td nowrap>@item.ExpiringProject.Accounts_AwardNum</td>
                <td>@item.ExpiringProject.OPFund_AwardNum</td>
                <td nowrap>@item.ExpiringProject.ProjectNumber</td>
                <td>@item.ExpiringProject.AccessionNumber</td>

                @if (item.MatchedProject != null)
                {
                    <td>@item.MatchedProject.ToAccession</td>
                }
                else
                {
                    <td> Needs Match </td>
                }
            </tr>
        }
    </tbody>
</table>

@section AdditionalScripts
{
    <script>
        $(function() {
            $('#expiredProjects').DataTable({
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
                columnDefs: [
                ]
            });
        })
    </script>
}
