@model IEnumerable<AD419.DataHelper.Web.Models.ExpiredProjectCrossReference>

@{
    ViewBag.Title = "Non-204 Expired Project Cross References";
}

<h2>Mappings for expired projects</h2>

<table id="expiredProjects" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FromAccession)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToAccession)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FromAccession)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ToAccession)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.RemapID })
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.RemapID })
                </td>
            </tr>
        }
    </tbody>
</table>

@section AdditionalScripts
{
    <script>
        $(function() {
            $('#expiredProjects').DataTable({
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
                columnDefs: [
                    { targets: [-1, -2], sortable: false },
                ]
            });
        })
    </script>
}
