@model AD419.DataHelper.Web.Models.NifaProjectAccessionNumberImport

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>NIFA Project and Accession Numbers Import</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProjectNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccessionNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccessionNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UcpEmployeeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UcpEmployeeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
