@model AD419.DataHelper.Web.Models.NifaProjectAccessionNumberImport

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>NIFA Project and Accession Numbers Import</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProjectNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccessionNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccessionNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UcpEmployeeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UcpEmployeeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
