@model AD419.DataHelper.Web.Models.FTEGreaterThanOneReportModel

@{
    ViewBag.Title = "FTE Calculation Criteria";
}

<h2>@ViewBag.Title</h2>
<hr/>
<div>
    <h4>Prior to calculating the FTE totals the following steps must have already been completed:</h4>
    <ol>
        <li>The @Html.ActionLink("DOS Codes", "Index", "DosCodes") to be included in the FTE calculations must have been selected.</li>
        <li>The @Html.ActionLink("Consolidation Codes", "Index", "ConsolidationCodes") to be included in the FTE calculations must have been selected.</li>
        <li>The @Html.ActionLink("Trans Doc Types", "Index", "TransDocTypes") to be included in the FTE calculations must have been selected.</li>
    </ol>
    <i>(Select any of the above links to modify the corresponding entries as desired, and then refresh the page to see the updated results.)</i>
    <div>
        <br/><h4>Once the criteria has been verified, the FTE > 1 Report can be viewed here: @Html.ActionLink("View FTE > 1 Report", "Report", "FteReport").</h4><br/>
    </div>
   
</div>

<div>
    <h4>Current Selections:</h4>

    <div class="row">
        <div class="col-lg-4 col-md-6 col-md-offset-0 col-sm-8 col-sm-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <span class="panel-title">
                        DOS Codes
                    </span>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => Model.DosCodesForFTECalc[0].DOS_Code)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => Model.DosCodesForFTECalc[0].Description)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.DosCodesForFTECalc)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DOS_Code)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-4 col-lg-push-4 col-md-6 col-md-offset-0 col-sm-8 col-sm-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <div class="panel-title">Trans Doc Types</div>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => Model.TransDocTypesForFTECalc[0].DocumentType)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => Model.TransDocTypesForFTECalc[0].Description)
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.TransDocTypesForFTECalc)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DocumentType)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-4 col-lg-pull-4 col-lg-offset-0 col-md-8 col-sm-8 col-sm-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <div class="panel-title">Consolidation Codes</div>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => Model.ConsolidationCodesForFTECalc[0].ObjectConsolidationNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => Model.ConsolidationCodesForFTECalc[0].ObjectConsolidationName)
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ConsolidationCodesForFTECalc)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ObjectConsolidationNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ObjectConsolidationName)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section AdditionalScripts
{


}
